.title-container{
    display: inline-block;
    margin-right: 10px;
    margin-top: 0%;
    padding-top:0%;
}
.main_text{
    display: block;
    margin-top: 0%;
    padding-top:0%;
}
.main{
    text-align: left;
    width: 100%;
    margin-top: 0%;
    padding-top:0%;
    background-color: #bf6363;
}
.main_text2{
    display: inline-block;
    margin-left: 50px;
    margin-top: 0%;
    padding-top:0%;
}